In [3]:
import pandas as pd

data = pd.read_csv('data_janji_jiwa.csv')
data

,JARAK (KM),ITK,INDRAKILA,GRAND CITY,MT. HARYONO,RUHUI RAHAYU,AHMAD YANI
0,ITK,0.0,12.1,12.4,14.7,16.4,20.5
1,INDRAKILA,12.1,0.0,3.3,3.7,5.4,6.2
2,GRAND CITY,12.4,3.3,0.0,2.6,4.3,9.0
3,MT. HARYONO,14.7,3.7,2.6,0.0,1.7,6.8
4,RUHUI RAHAYU,16.4,5.4,4.3,1.8,0.0,7.9
5,AHMAD YANI,20.5,6.2,9.0,6.8,7.9,0.0

In [15]:
import numpy as np

import pyswarms.backend as P
from pyswarms.backend.topology import Star

In [16]:
def pers1(X,Y):
    return 3*X**2 - 2*X*Y + 3*Y**2 - X - Y - 3

def calculate_fitness(x):
    output = pers1(x[:,0],x[:,1])

    return output

In [8]:
topology = Star()
options = {'c1':.6, 'c2':.3, 'w':.4}
swarm = P.create_swarm(n_particles=50,
                          dimensions=2,
                          options=options)
iterations = 100

In [14]:
for i in range(iterations):
    swarm.current_cost = calculate_fitness(swarm.position)
    swarm.pbest_cost = calculate_fitness(swarm.pbest_pos)
    swarm.pbest_pos, swarm.pbest_cost = P.compute_pbest(swarm)

    if np.min(swarm.pbest_cost) < swarm.best_cost:
        swarm.best_pos, swarm.best_cost = topology.compute_gbest(swarm)

    if i % 10 == 0:
        print('Iterasi ke-{}. \t best cost: {:.2f}'.format(i+1, swarm.best_cost))

    swarm.velocity = topology.compute_velocity(swarm)
    swarm.position = topology.compute_position(swarm)

print('\nNilai fitness terbaik = {:.4f}'.format(swarm.best_cost))
print('Solusi terbaik [x1,x2] = {}'.format(swarm.best_pos))

Iterasi ke-1. 	 best cost: -3.25
Iterasi ke-11. 	 best cost: -3.25
Iterasi ke-21. 	 best cost: -3.25
Iterasi ke-31. 	 best cost: -3.25
Iterasi ke-41. 	 best cost: -3.25
Iterasi ke-51. 	 best cost: -3.25
Iterasi ke-61. 	 best cost: -3.25
Iterasi ke-71. 	 best cost: -3.25
Iterasi ke-81. 	 best cost: -3.25
Iterasi ke-91. 	 best cost: -3.25

Nilai fitness terbaik = -3.2500
Solusi terbaik [x1,x2] = [0.25 0.25]